<div class="modal fade" id="previewImage" tabindex="-1" aria-labelledby="previewImageModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
  <div class="modal-dialog modal-xxl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title fs-5" id="previewImageModalLabel"></div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="UI.clearPreviewImage()"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-grey" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>