{# Page: Case Studies #}
{% extends 'base.html.twig' %}

{% set studies = [
    {
		"label": "Mobility Quotient",
		"image": "/images/clients/black/mq.png",
		"url": "",
	},
    {
		"label": "Mobility Quotient",
		"image": "/images/clients/black/mq.png",
		"url": "",
	},
    {
		"label": "Mobility Quotient",
		"image": "/images/clients/black/mq.png",
		"url": "",
	},
    {
		"label": "Mobility Quotient",
		"image": "/images/clients/black/mq.png",
		"url": "",
	},
] %}

{% block content %}
	<section class="section section-hero" data-anchor="true">
		<div class="hero-inner hero-inner-static">
			<div class="colour-band"></div>
		</div>

		<div class="hero-inner hero-inner-primary align-items-center">
			<div class="container width-narrow">
				<div class="title">
					<h1 class="font-accent">
						Case Studies
					</h1>
				</div>
			</div>
		</div>
		
		<div class="hero-inner hero-inner-secondary"></div>
	</section>

    <section class="section">
        <div class="container width-narrow">
            <div class="row">
                <div class="card col-12 col-md-6">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
